body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Montserrat, sans-serif;
    color: #222;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #5dade260;
    padding: 0 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.content {
    display: flex;
    height: calc(100vh - 100px);
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    z-index: 2;
    transition: left 0.3s ease;
}

.side-menu.active {
    left: 0;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin-bottom: 10px;
}

.side-menu button {
    width: 100%;
    padding: 10px;
    background-color: #5dade2;
    border: none;
    color: white;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.side-menu button:hover {
    background-color: #023786;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
}
